body {
    margin: 0;
    font-family: 'Roboto', system-ui;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.wrapper {
    background: #F3F3F3;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
    border-radius: 20px;
    max-width: 1440px;
    margin: 50px auto;

}

header {
    padding: 40px;
    border-bottom: 1px solid #eaeaea;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
}

img {
    margin-right: 15px;
    cursor: pointer;
}


.socialMedia {
    align-self: flex-end;
}

ul {
    float: right;
}

.mayak {
    display: flex;
    align-items: center;
    background-color: black;
}

h3,
p {
    color: white;
    font-size: 37px;
}


.menuPages {
    margin-top: 20px;
    height: 100px;
    align-self: center;
}

ul {
    list-style-type: none;
    margin-left: 50px;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

li {
    float: left;
    margin-left: 100px;
    margin-right: 100px;
    vertical-align: baseline;
    height: 60px;
    max-width: 120px;
    min-width: 140px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 10px;
    text-decoration: none;
    font-size: 26px;
    border-radius: 10px;
}

li a:hover:not(.active) {
    background-color: rgb(28, 28, 28);
    box-shadow: 0px 14px 30px rgba(228, 228, 228, 0.192);
//transform: translateY(-5px);
}

.search-block {
    display: inline-block;
    border: 2px solid #e7e7e7;
    background-color: #ffffff;
    height: 59px;
    width: 700px;
    margin: 20px;
}

input {
    display: inline-block;
    border: 0;
    padding: 10px;
    font-size: 20px;
    margin-top: 8px;
    width: 600px;
}

img {
    padding-left: 15px;
    vertical-align: text-bottom;
}

.clear-sign {
    width: 36px;
    height: 20px;
    align-self: flex-end;
    vertical-align: text-top;
}


.button {
    display: inline-block;
    align-content: flex-end;
    height: 59px;
    width: 186px;
    flex-direction: row;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    margin: 4px 20px;
    cursor: pointer;
}

.button3 {
    background-color: #D10000;
}


.Form {
    border-bottom: 1px solid #eaeaea;
}

